/*////////////////////PC\\\\\\\\\\\\\\\\\\\\\\\\\*/
@media screen and (min-width : 20cm ) {
    
.Presentation {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    margin: 0%;
    overflow: hidden;
}

.Presentation div{
    position: absolute;
    top: 10%;
    left: 0%;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    animation: Presentation_div_HOVER_Animation_REVERSE 0.5s forwards;
}

.Presentation:hover div{
    animation: Presentation_div_HOVER_Animation 0.5s forwards;
}

.Presentation:hover a{
    animation: Presentation_a_HOVER_Animation 0.5s forwards;
}

.Presentation h1{
    position: absolute;
    bottom: 20%;
    right: 0%;
    text-align: right;
    font-size: 500%;
    color: white;
    font-family: coolvetica, sans-serif;
    width: 100%;
    display: block;
}



.Presentation a{
    position: absolute;
    bottom: -50%;
    color: white;
    font-family: coolvetica, sans-serif;
    font-size: 200%;
    text-decoration: none;
    background: #131516;
    padding: 1%;
    border-radius: 0.25em;
    z-index: 2;
    animation: Presentation_a_HOVER_Animation_REVERSE 0.5s forwards;
}



#Presentation1{
    background-image: url(avenirdurable.jpg);
    width: 100%;
    height: 50em;
    background-repeat: no-repeat;
    background-size: cover;
}

#Presentation1 a{
    right: 50%;
}

#Presentation2{
    background-image: url(mobilitéverte.jpg);
    width: 100%;
    height: 50em;
    background-repeat: no-repeat;
    background-size: cover;
}

#Presentation2 a{
    right: 30%;
}

#Presentation3{
    background-image: url(covoiturage.jpg);
    width: 100%;
    height: 50em;
    background-repeat: no-repeat;
    background-size: cover;
}

#Presentation3 a{
    right: 20%;
}

}
/*////////////////////MOBILE\\\\\\\\\\\\\\\\\\\\\\\\\*/
@media screen and (max-width: 20cm) {
    .Presentation {
        position: relative;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 50%;
        margin: 0%;
        overflow: hidden;
    }
    .Presentation div{
        position: absolute;
        top: 0%;
        left: 0%;
        height: 100%;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    }

    .Presentation h1{
        position: absolute;
        bottom: 10%;
        right: 5%;
        text-align: right;
        font-size: 300%;
        color: white;
        font-family: coolvetica, sans-serif;
        width: 100%;
        display: block;
    }

    .Presentation a{
        position: absolute;
        bottom: 5%;
        right: 10%;
        color: white;
        font-family: coolvetica, sans-serif;
        font-size: 175%;
        text-decoration: none;
        background: #131516;
        padding: 1%;
        border-radius: 0.25em;
        z-index: 2;
    }

    #Presentation1{
        background-image: url(avenirdurable.jpg);
        width: 100%;
        height: 50em;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 57% 0%;
    }
    
    #Presentation2{
        background-image: url(mobilitéverte.jpg);
        width: 100%;
        height: 50em;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 35% 0%;
    }
    
    #Presentation3{
        background-image: url(covoiturage.jpg);
        width: 100%;
        height: 50em;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 15% 0%;
    }
    
}